<config>
    <modules>
        <NovaWorks_ThemeOptions>
            <version>0.1.0</version>
        </NovaWorks_ThemeOptions>
    </modules>
    <frontend>
        <routers>
            <themeoptions>
                <use>standard</use>
                <args>
                    <module>NovaWorks_ThemeOptions</module>
                    <frontName>themeoptions</frontName>
                </args>
            </themeoptions>
        </routers>
        <layout>
            <updates>
                <themeoptions>
                    <file>themeoptions.xml</file>
                </themeoptions>
            </updates>
        </layout>
    </frontend>
    
    <global>
        <models>
            <themeoptions>
                <class>NovaWorks_ThemeOptions_Model</class>
            </themeoptions>
        </models>
        <blocks>
            <themeoptions_general>
                <class>NovaWorks_ThemeOptions_Block</class>
            </themeoptions_general>
            <themeoptions_homepage><class>ThemeOptions_ExtraConfig_Block</class></themeoptions_homepage>  
            <themeoptions_theming><class>ThemeOptions_ExtraConfig_Block</class></themeoptions_theming>            
        </blocks>
        <page>
            <layouts>
                <one_column_full module="page" translate="label">
                    <label>1 column full</label>
                    <template>page/1column-full.phtml</template>
                    <layout_handle>page_one_column_full</layout_handle>
                    <is_default>0</is_default>
                </one_column_full>
                <page_two_column_left_titledesc module="page" translate="label">
                    <label>2 column left with title desc</label>
                    <template>page/2columns-left-titledesc.phtml</template>
                    <layout_handle>page_two_column_left_titledesc</layout_handle>
                    <is_default>0</is_default>
                </page_two_column_left_titledesc>
            </layouts>
        </page>
        <helpers>
            <themeoptions>
                <class>NovaWorks_ThemeOptions_Helper</class>
            </themeoptions>           
        </helpers>
    <events>
      <adminhtml_controller_action_predispatch_start>
        <observers>
          <novaworks_themeoptions_observer>
            <type>singleton</type>
            <class>NovaWorks_ThemeOptions_Controller_Observer</class>
            <method>overrideTheme</method>
          </novaworks_themeoptions_observer>
        </observers>
      </adminhtml_controller_action_predispatch_start>      
    </events> 
	<resources>
        <novaworks_themeoptions_setup>
                <setup>
                    <module>NovaWorks_ThemeOptions</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>          
        </novaworks_themeoptions_setup>
    </resources>           
    </global>
	<default>
		<themeoptions_general>
			<general_options>
				<responsive_layout>1</responsive_layout>
				<menu_type>default-menu</menu_type>
				<menu_stay_on_top>1</menu_stay_on_top>
				<gotop_button>1</gotop_button>
			</general_options>
			<prodcuts_list_page>
				<layout_one_column>4</layout_one_column>
				<layout_two_column>4</layout_two_column>
				<layout_three_column>3</layout_three_column>
				<standard_image_width>310</standard_image_width>
				<standard_image_height>424</standard_image_height>
				<shopping_options>0</shopping_options>
				<rating_wishlist_compare>1</rating_wishlist_compare>
				<new_product_label>0</new_product_label>
				<sale_product_label>0</sale_product_label>
				<image_product_hover>0</image_product_hover>
			</prodcuts_list_page>
			<prodcuts_details_page>
				<product_main_width>478</product_main_width>
				<product_main_height>654</product_main_height>
				<product_thumbnail_width>161</product_thumbnail_width>
				<product_thumbnail_height>220</product_thumbnail_height>
			</prodcuts_details_page>
		</themeoptions_general>
		<themeoptions_homepage_content>
			<homepagecontent>
				<homerowamount>1</homerowamount>
				<homeinfostype_1_1>1</homeinfostype_1_1>
				<homecoltitle_1_1>New Product</homecoltitle_1_1>
				<homeproductstype_1_1>new</homeproductstype_1_1>
				<homesliderstype_1_1>1</homesliderstype_1_1>
				<productseachrow_1_1>4</productseachrow_1_1>
				<productsamount_1_1>10</productsamount_1_1>
				<homeinfostype_1_2>1</homeinfostype_1_2>
				<homecoltitle_1_2>New Product</homecoltitle_1_2>
				<homeproductstype_1_2>new</homeproductstype_1_2>
				<homesliderstype_1_2>1</homesliderstype_1_2>
				<productseachrow_1_2>4</productseachrow_1_2>
				<productsamount_1_2>10</productsamount_1_2>
				<homeinfostype_1_3>1</homeinfostype_1_3>
				<homecoltitle_1_3>New Product</homecoltitle_1_3>
				<homeproductstype_1_3>new</homeproductstype_1_3>
				<homesliderstype_1_3>1</homesliderstype_1_3>
				<productseachrow_1_3>4</productseachrow_1_3>
				<productsamount_1_3>10</productsamount_1_3>
			</homepagecontent>
		</themeoptions_homepage_content>		
		<themeoptions_theming>
			<theme_general>
				<theme_layout>1</theme_layout>
				<heading_font></heading_font>		
			</theme_general>	
			<theme_presets>
				<presets>1</presets>
				<l_background_color>#FFFFFF</l_background_color>
				<l_text_color>#999999</l_text_color>
				<l_link_color>#818181</l_link_color>	
				<l_active_color>#F01C35</l_active_color>	
				<l_heading_color>#0d0d0d</l_heading_color>
				<l_icons_color>#565656</l_icons_color>
				<l_buttons_color>#565656</l_buttons_color>
				<l_buttons_hover_color>#F01C35</l_buttons_hover_color>
				<l_new_label_color>#D89F04</l_new_label_color>
				<l_sale_label_color>#72B166</l_sale_label_color>
				<l_easyslider_background_color>#6F5C68</l_easyslider_background_color>
				
				<d_background_color>#040404</d_background_color>
				<d_text_color>#808080</d_text_color>
				<d_link_color>#808080</d_link_color>	
				<d_active_color>#82adb8</d_active_color>	
				<d_heading_color>#82adb8</d_heading_color>
				<d_icons_color>#FFFFFF</d_icons_color>
				<d_buttons_color>#565656</d_buttons_color>
				<d_buttons_hover_color>#82adb8</d_buttons_hover_color>
				<d_new_label_color>#D89F04</d_new_label_color>
				<d_sale_label_color>#72B166</d_sale_label_color>
				<d_easyslider_background_color>#82adb8</d_easyslider_background_color>
			</theme_presets>																		
		</themeoptions_theming>		

	</default>
</config>